ul {
  list-style-type: none;
}
 
li:before {
  content: '\2713';
}
li  {
  margin-left: 40%;
  font-size: 1.5em;
  font-weight: bold;
}
  .green {
    color: green;
  }
  .yellow {
    color: yellow;
  }
  .red {
    color: red;
  }
  